body {
    line-height:1;
	background-image:url("images/total.jpg");
} 
.box{
	text-align:center;
	padding:20px;
	margin:90px auto;
	width:220px;
    background-color:white;
	color:black;
	border:2px solid black;
	border-radius:50px;
	}
.btn input[type="submit"]:hover
{
	cursor:pointer;
	background:#39dc79;
	color:#000;
	border:1px;
	border-radius:20px;
	font-size:18px;
}
input[type=text],[type=password]{
	background-color:lightgreen;
	}
