header{
	height:70px;
	width:1200;
     	
}
*{margin:0px;
padding:0px;
}
nav{
	float:right;
	word-spacing:50px;
}
nav li{
	display:inline-block;
}
ul li{
	background-color:none;
}
ul li ul li{display:none;
overflow:hidden;
}
ul li:hover ul li{display:block;
}
ul li a{ color:white;
text-decoration:none;
font-weight:bold;
}
body{
	background-image:url("images/book.jpg");
	background-size:cover;
	padding:30px;
}
.box{color:#fffefe;
background-color:rgba(11,1,1,0.43);
margin:60px;
height:255px;
width:500px;
}
.menubar ul li:hover .submenu1{
	display:block;
	position:absolute;
	background:black;

}
.menubar ul li:hover .submenu1 ul li {
	background:transparent;
border-bottom:1px dotted #fff;}